hr.style-rainbow {
    border: 0;
    height: 4px;
    background: #ff0000;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#FFFFFF), color-stop(25%,#1E4B8A), color-stop(50%,#3F9BD9), color-stop(75%,#1E4B8A), color-stop(100%,#FFFFFF));
    background: -webkit-linear-gradient(-45deg, #FFFFFF 0%, #1E4B8A 25%, #1E4B8A 50%, #1E4B8A 75%, $FFFFFF 100%);
    background: -moz-linear-gradient(-45deg, #FFFFFF 0%, #1E4B8A 25%, #1E4B8A 50%, #1E4B8A 75%, $FFFFFF 100%);
    background: -o-linear-gradient(-45deg, #FFFFFF 0%, #1E4B8A 25%, #1E4B8A 50%, #1E4B8A 75%, $FFFFFF 100%);
    background: -ms-linear-gradient(-45deg, #FFFFFF 0%, #1E4B8A 25%, #1E4B8A 50%, #1E4B8A 75%, $FFFFFF 100%);
    background: linear-gradient(-45deg, #FFFFFF 0%, #1E4B8A 25%, #1E4B8A 50%, #1E4B8A 75%, $FFFFFF 100%);
}